.top-navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fad4c0;
  height: 12vw;
  transition: height 0.2s ease-in;
}

/* .top-navbar:hover {
  height: 12.5vw;
}
.top-navbar:focus {
  height: 13vw;
} */

.palette {
  color: #c0fdfb;
  color: #fad4c0;
  color: #b09e99;
  color: #fee9e1;
  color: #64b6ac;
}

.inputs-container {
  width: 70vw;
  min-height: 11vw;
  max-height: 15vw;
  margin-right: 2vw;

  /* overflow-y: auto; */
  /* background-color: #b09e99; */
  /* border: 2px solid red; */
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #64b6ac;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.driving,
.bicycling,
.walking {
  margin-left: 0vw;
  padding-left: 0vw;
}

.middle-middle {
  display: flex;
  flex-direction: row;
  max-height: 3vw;
  padding-top: 1vw;
  padding-bottom: 0.9vw;
}
.poi-text {
  font-size: 0.9vw;
  text-align: center;
  padding: 0.2vw;
  margin: 0.2vw;
}

.place-type-select {
  align-self: center;
  text-align-last: center;
  padding-left: 1vw;
}
.place-dropdown {
  font-family: 'Johnston';
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-shadow: none !important;
  appearance: none;
  background-color: #fee9e1;
  border-style: none;
  color: #64b6ac;
  border-radius: 4px;
  margin: 0.2vw;

  padding: 0.2vw;
}
.place-dropdown:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-style: none;
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}
/* .place-dropdown:hover {
  border-style: none;
}
.place-dropdown:after {
  border-style: none;
}
.place-dropdown:active {
  border-style: none;
}
.select {
  border-style: none;
} */

.option {
  margin: 0.5vw;
  padding: 2vw;
  font-family: 'Johnston';
}

.map-form-middle {
  margin: 2vw;
  margin-top: 2.5vw;

  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
}

.origin {
  margin-top: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 2vw;
  /* border: 2px solid green; */
}

.origin p {
  display: flex;
  justify-content: center;
  font-size: 2vw;
  margin: 0vw;
}

.select-travel-mode {
  display: flex;
  justify-content: space-around;
}
.form {
  display: flex;
  justify-content: space-around;
}

.logo-container {
  padding-left: 2vw;
}

.logo-and-title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  min-width: 15vw;
}
.logo {
  width: 5vw;
  height: 5vw;
  padding: 0.5vw;
}
.equi-d {
  font-size: 4vw;
  font-weight: bold;
  margin-left: 0vw;
  text-shadow: 2px 0 #64b6ac, 0 -1px #fee9e1, 0px 0 #fee9e1, 0 -1px #64b6ac;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 1vw;
}

.calculate-button {
  align-self: center;
  font-family: 'Johnston';
  font-size: 1vw;
  min-height: 3vw;
  max-height: 3vw;
  min-width: 10vw;
  max-width: 5vw;
  margin: 0.5vw;

  background-color: rgba(181, 101, 29, 0.5);
  border-style: none;
  outline: none;
  border-radius: 4px;
  color: #fad4c0;
  margin-bottom: 1vw;

  text-align: center;
}

.calculate-button:hover {
  background-color: #64b6ac;
}
.calculate-button:active {
  border: 2px solid lightgray;
}
/* .calculate-button::before,
.calculate-button::after {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background: black;
  top: 50%;
  border-radius: 50%;
  z-index: 3;
}

.calculate-button::before {
  transform: translate(-50%, -50%);
  left: -20px;
}

.calculate-button::after {
  transform: translate(50%, -50%);
  right: -20px;
}

.calculate-button:hover::before {
  animation: move-left 0.8s both;
  animation-direction: alternate;
}
.calculate-button:hover::after {
  animation: move-right 0.8s both;
  animation-direction: alternate;
} */

/* @keyframes move-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    height: 100px;
    width: 100px;
  }
}

@keyframes move-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    height: 100px;
    width: 100px;
  }
} */

.input {
  font-size: 1vw;
  font-family: 'Johnston';
  min-height: 2vw;
  min-width: 20vw;
  /* max-height: 10vw;
  
  max-width: 25vw; */
  margin: 0.5vw;
  color: #64b6ac;
  border-radius: 4px;
  border-style: none;
  border: 2px solid lightgray;
  background-color: #fee9e1;
  outline: none;
  padding-left: 0.5vw;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #64b6ac;
  font-style: italic;
  opacity: 0.8; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fad4c0;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fad4c0;
}

.pac-container:after {
  /* Disclaimer: not needed to show 'powered by Google' if also calculate-buttonp is shown */

  background-image: none !important;
  height: 0px;
  /* background-color:  */
}

.pac-container {
  background-color: #fad4c0;
  color: #b09e99;
}

.pac-item:hover {
  background-color: #fee9e1;
}

.pac-item {
  color: #b09e99;
}

.pac-item-query {
  color: #64b6ac;
}

/* .pac-icon {
  color: #64b6ac;
} */
