.inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
  min-width: 25vw;
  max-width: 30vw;
  min-height: 35vw;
  max-height: 50vw;
  margin: 3vw;
  padding: 1vw;
  margin-right: 3vw;

  /* overflow-y: auto; */
  /* border: 2px solid red; */
}

.title {
  font-size: 2.5vw;
}

.calculate-button {
  min-width: 10vw;
  min-height: 3vw;
  max-width: 30vw;
  max-height: 7vw;
  margin: 0.5vw;
  background-color: slateblue;
  border-style: none;
  outline: none;
  border-radius: 4px;
  color: white;
  font-size: 1.5vw;
  text-align: center;
}

.input {
  font-size: 1.5vw;
  min-height: 3vw;
  max-width: 30vw;
  max-height: 7vw;
  margin: 0.5vw;
  border-radius: 4px;
  border-style: none;
  border: 1px solid lightgray;
  outline: none;
  padding-left: 0.5vw;
}

p {
}
